# Name of Pipeline
name: Build, Test, and Package Framework

# Trigger: Triggers each push to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      # 1. Get latest code from branch
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for git version

      # 2. Get SDK
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      # 3. Fetch Nuget Packages
      - name: Restore dependencies
        run: dotnet restore IntegratoR.sln

      # 4. Build Solution
      - name: Build solution
        run: dotnet build IntegratoR.sln --configuration Release --no-restore
      
      # 5. Run Unit Tests
      - name: Run unit tests
        run: dotnet test IntegratoR.sln --no-build --verbosity normal

  pack-and-publish:
    name: Pack & Publish
    needs: build-and-test
    runs-on: ubuntu-latest
    
    # Runs only on successful merges, not on prs
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      # 6. Get Gitversion
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v1.1.1
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v1.1.1

      # 7. Build Nuget Packages for framework projects
      - name: Pack IntegratoR.Abstractions
        run: dotnet pack ./IntegratoR.Abstractions/IntegratoR.Abstractions.csproj -c Release -p:PackageVersion=${{ steps.gitversion.outputs.nuGetVersionV2 }} --output ./packages

      - name: Pack IntegratoR.Application
        run: dotnet pack ./IntegratoR.Application/IntegratoR.Application.csproj -c Release -p:PackageVersion=${{ steps.gitversion.outputs.nuGetVersionV2 }} --output ./packages

      - name: Pack IntegratoR.OData
        run: dotnet pack ./IntegratoR.OData/IntegratoR.OData.csproj -c Release -p:PackageVersion=${{ steps.gitversion.outputs.nuGetVersionV2 }} --output ./packages
      
      - name: Pack IntegratoR.OData.FO
        run: dotnet pack ./IntegratoR.OData.FO/IntegratoR.OData.FO.csproj -c Release -p:PackageVersion=${{ steps.gitversion.outputs.nuGetVersionV2 }} --output ./packages

      # 8. Publish Nuget package
      - name: Publish to GitHub Packages
        run: dotnet nuget push "./packages/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source "https://nuget.pkg.github.com/DEINE_ORGANISATION_HIER/index.json" --skip-duplicate
        # Ersetze DEINE_ORGANISATION_HIER durch deinen GitHub-Benutzernamen oder den Namen deiner Organisation
